# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

# vim swap files
*.swp
*.swo

# Project specific
vendor
build
simulation/kubernetes/build
simulation/kubernetes/*.log
simulation/kubernetes/config.toml
simulation/kubernetes/validator.yaml
.dep
gosec.log

